<div class="container pad-top">
  <table class="table liquortable">
      <tr>
          <td><h3>Details for {{liquor.name}}</h3></td>
          <td></td>
      </tr>
      <tr>
          <td>Name</td>
          <td>{{liquor.name}}</td>
      </tr>
      <tr>
          <td>Description</td>
          <td>{{liquor.description}}</td>
      </tr>
      <tr>
          <td>Type</td>
          <td>{{liquor.type}}</td>
      </tr>
      <tr>
          <td>Year Manufactured</td>
          <td>{{liquor.yearMfg}}</td>
      </tr>
      <tr>
          <td>Alcohol Content</td>
          <td>{{liquor.alcoholContent}}</td>
      </tr>
      <tr>
          <td>Number Of Blends</td>
          <td>{{liquor.numberOfBlends}}</td>
      </tr>
      <tr>
          <td>Year Came to India</td>
          <td>{{liquor.yearCameToIndia}}</td>
      </tr>
  </table>
  <div>
      <!--Changed by Bharat-->
      <a class="btn btn-primary" ng-show="canEdit" ui-sref="editLiquor({id:liquor.id})">Edit</a>
  </div>
</div>
